%div
  =render "layouts/admins_header"
  %div(class="index-action" style="width:1050px;height:480px;margin-left:10%;margin-top:2%;padding:0px" )
    %div(style="margin-left:1px;margin-top:10px;background-color:#F0F0F0;height:90px"  )
      %span(class="header-left" style="font-size:16px;margin-top:5px" )
        管理用户
        %button(style="margin-left:3px" )
          =link_to '添加用户',admins_add_new_user_page_path ,:style =>'color:black'
    %table(class="table table-style"style="margin-top:1px;position:absolute;top:7%" )
      %tbody
        %tr
          %th 编号
          %th 用户名
          %th
        %br
          %ul
            -i=0
            -@user.each do |t|
              %tr
                -i=i+1;
                %th
                  =i
                %th
                  =link_to t.name,admins_show_user_activity_path(t.name)


                %th(style="width:20%" )

                  =link_to '删除'  ,admin_path(t.id),method: :delete, data: { confirm: '你确定要删除'+t.name+"吗？"}
                  %span

                  =link_to '修改密码' ,admins_repair_user_password_page_path(t.id)
              %br
      %div(style='bottom:-10px;width:100%;height:32px;position:absolute;')
        %div(style="font-size:12px;right:5%;position:absolute;" )
          =will_paginate@user ,{:previous_label =>'<<',:next_label => '>>'}
