%div
  =render "layouts/admins_header"
  %div(class="index-action user-show-div-1" )
    %div(class="user-result" )
      %span(class="header-left user-header-left")
        管理用户
        %button(style="margin-left:3px" )
          =link_to '添加用户',admins_add_new_user_page_path ,:style =>'color:black'
    %table(class="table table-style user-table" )
      %tbody
        %tr
          %th 编号
          %th 用户名
          %th
        %br
          %ul
            -i=0
            -@user.each do |t|
              %tr
                -i=i+1;
                %th
                  =i
                %th
                  =link_to t.name,admins_show_user_activity_path(t.name)
                %th(style="width:20%" )
                  =link_to '删除'  ,admin_path(t.id),method: :delete, data: { confirm: '你确定要删除'+t.name+"吗？"}
                  %span
                  =link_to '修改密码' ,admins_repair_user_password_page_path(t.id)
              %br
      %div(class="will_paginate-div")
        %div(class="will-paginate")
          =will_paginate@user ,{:previous_label =>'<<',:next_label => '>>'}
