%div(class="title" padding-top="0px")
  %div(style="")
    %h2(style="color:white" )
      %p
        活动通
.index-action
  .index-login
    .input-prepend(style="height:30px" )
      %span.add-on(style="height:30px;width:100px" )
        用户名
      %input(style="height:30px" id="user_name")
      %br
      %br
      %span.add-on(style="height:30px;width:100px" )
        用户密码
      %input(style="height:30px" id='user_password' )
      %br
      %br
      %button(class=" btn-1 btn-primary"ng-click="login()" )
        登录

  %div(class="label-warning" style="width:70%;margin-left:15%;background-color:#FFE4E1;margin-top:150px"ng-show='notice')
    %div(left="30%")
      %p(style="color:#7E4F05;font-size:16px")
        用户名或密码错误
  %div(class="label-warning" style="width:70%;margin-left:15%;background-color:#FFE4E1;margin-top:150px"ng-show='error')
    %div(left="30%")
      %p(style="color:#7E4F05;font-size:16px")
        提交失败


