=render "layouts/header"
%div(class="user-div-3" )
  %div(class="user-div-4" )
    =link_to '首页' ,user_path(@id)
    %span(style="color:gray") / 竞价列表
%div(class="index-action user-list")
  %div(class="user-list-header"  )
    %span(class="header-left user-header-left"  )
      竞价列表
    %div(class="header-right user-header-right")
      =link_to "报名列表",users_sign_up_page_path(@activity_name)
  %table(class="table table-style user-table" )
    %tbody
      %tr
        %th 编号
        %th 名称
        %th 参与人数
      %br
        %ul
          -i=0
          -@bid_list.each do |t|
            %tr
              -i=i+1;
              %th
                =i
              %th
                =link_to t.bid_name,users_bidding_page_path({bid_name:t.bid_name,activity_name:t.activity_name,user:t.user})
              %th
                =t.number
                = '/'
                =t.sign_up_number
            %br
    %div(class="will_paginate-div")
      %div(class="will-paginate")
        =will_paginate@bid_list ,{:previous_label =>'<<',:next_label => '>>'}
