%h1
  活动通
%p(class="header-right"style="margin-top:1%")
  你好，
  =session[:user]
  =link_to '退出',admins_quit_path
%div(style="background-color:#e8e8e8;width:700px;height:50px;width:100%" )
  %div(style="height:25px;margin-top:12px;position:absolute;margin-left:3%" )
    =link_to '首页' ,user_path(@user_id)
    %span(style="color:gray") /
    =link_to "竞价列表",users_bid_list_page_path(@activity_name)
    %span(style="color:gray") /
    %span
      =@bid_name
%div(class="index-action" style="width:1050px;height:100px;margin-left:10%;margin-top:2%;padding:0px" )
  -if @result["phone"]!=""
    %div(style="margin-left:1px;margin-top:5px;background-color:#F0F0F0;height:100px")
      %div(style="padding-top:10px" )
        %h5
          获胜者 :
          =@result["name"]
          %br
          出价：
          =@result["price"]
          元
          %br
          电话号：
          =@result["phone"]

  -if @result["name"]=="竞价失败"&&@result["phone"]==""
    %div(style="margin-left:1px;margin-top:10px;background-color:#F0F0F0;height:100px")
      %div(style="padding-top:30px" )
        %h4
          本次竞价无人胜出

  -if @result["name"]=="竞价正在进行"&&@result["phone"]==""
    %div(style="margin-left:1px;margin-top:10px;background-color:#F0F0F0;height:100px")
      %div(style="padding-top:30px" )
        %h4
          竞价正在进行
%div(class="index-action"style="width:1050px;height:300px;margin-left:10%;padding:0px;margin-top:30px")
  %ul.nav.nav-tabs(style="margin-bottom:0px")
    %li(style="width:50%" class="border-top active" )
      %a{"data-toggle" => "tab", :href => "#home"} 竞价列表
    %li(style="width:50% "class="border-top" )
      %a{"data-toggle" => "tab", :href => "#profile"} 统计列表

  .tab-content
    #home.tab-pane.active
      %table(class="table table-style"style="margin-top:-70px;"   )
        %tbody
          %tr
            %th 编号
            %th 姓名
            %th 价格
            %th 电话号
          %br
            %ul
              -i=0
              -@bidding.each do |t|
                %tr
                  -i=i+1;
                  %th
                    =i
                  %th
                    =t.name
                  %th
                    =t.price
                  %th
                    =t.phone
          %br

      %div(style='bottom:0px;width:100%;height:32px;')
        %div(style="font-size:12px;right:5%;position:absolute;" )
          =will_paginate@bidding ,{:previous_label =>'<<',:next_label => '>>'}
    #profile.tab-pane
      %table(class="table table-style"style="margin-top:-70px;"  )
        %tbody
          %tr
            %th
              编号
            %th 价格
            %th 人数
          %br
            %ul
              -i=0
              -@analysis.each do |t|
                %tr
                  -i=i+1;
                  %th
                    =i
                  %th
                    =t.price
                  %th
                    =t.number
        %br

      %div(style='bottom:0px;width:100%;height:32px;;')
        %div(style="font-size:12px;right:5%;position:absolute;" )
          =will_paginate@analysis ,{:previous_label =>'<<',:next_label => '>>'}

