%h1活动通

%div(class="index-action" style="text-align:center;width:550px;background-color:#e8e8e8;margin-left:30%;margin-top:5%;padding:20px")
  %div(class="index-login"style="margin-top:10px" )
    %h3(class="header-left"style="margin-left:10px;margin-top:15px;" )
      重置密码
    %h5(style="position:absolute;right:10%;margin-top:1px")
      = link_to "用户登陆", new_session_path
  %div(class="index-login"style="margin-top:70px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for :users,url:users_confirm_user_name_path do |f|
        = f.label '帐  号',:class=>"add-on",:style=>"height:30px;width:100px"
        = f.text_field :name,:style=>"height:30px;width:70%",:placeholder=>'请输入您的账号'
        %div(style="margin-top:40px" )
          =f.submit '下一步', :style=>"width:40%"
      =render 'layouts/error'