%h1活动通

%div(class="index-action user-div-1" )
  %div(class="index-login user-div-2" )
    %h3(class="header-left user-h3" )
      重置密码
    %h5(class="user-h5" )
      = link_to "用户登陆", new_session_path
  %div(class="index-login"style="margin-top:70px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for :users,url:users_confirm_user_name_path do |f|

        = f.label '帐  号',:class=>"user-on add-on "
        = f.text_field :name,:class=>"user-input",:placeholder=>'请输入您的账号'
        %div(style="margin-top:40px" )
          =f.submit '下一步', :class=>"user-btn"
      =render 'layouts/error'