=render "layouts/header"
%div(class="index-action user-show-div-1" )
  %div(class="user-result" )
    %span(class="header-left user-header-left")
      活动信息
  %div(class="header-right user-header-right")
    %button(disabled='@disabled')
      =link_to "同步展示",users_synchronous_show_path
  %table(class="table table-style user-table" )
    %tbody
      %tr
        %th 编号
        %th 活动名称
        %th 报名人数
        %th 竞价次数
      %br
        %ul
          -i=0
          -@activity.each do |t|
            %tr
              -i=i+1;
              %th
                =i
              %th
                =link_to t.activity_name ,users_bid_list_page_path(t.activity_name)
              %th
                =link_to t.sign_up_number ,users_sign_up_page_path(t.activity_name)
              %th
                =link_to t.bid_number ,users_bid_list_page_path(t.activity_name)
            %br
    %div(class="will_paginate-div")
      %div(class="will-paginate")
        =will_paginate@activity ,{:previous_label =>'<<',:next_label => '>>'}
