=render "layouts/header"
%div(class="user-div-3" )
  %div(class="user-div-4" )
    =link_to '首页' ,user_path(@id)
    %span(style="color:gray") / 报名列表
%div(class="index-action user-list"  )
  %div(class="user-list-header"  )
    %span(class="header-left user-header-left"  )
      报名列表
    %div(class="header-right user-header-right")
      =link_to "竞价列表",users_bid_list_page_path(@activity_name)
  %table(class="table table-style user-table" )
    %tbody
      %tr
        %th 编号
        %th 姓名
        %th 手机号
      %br
        %ul
          -i=0
          -@sign_up.each do |t|
            %tr
              -i=i+1;
              %th
                =i
              %th
                =t.name
              %th
                =t.phone
            %br
    %div(class="will_paginate-div")
      %div(class="will-paginate")
        =will_paginate@sign_up ,{:previous_label =>'<<',:next_label => '>>'}
