-if @user.errors.any?&&!flash[:error]
  .label-warning(style="width:70%;padding-top:1px;padding-bottom:0.5px;margin-left:15%;background-color:#FFE4E1;" )
    %p(style="color:#7E4F05;font-size:15px;margin-top:5px" )
      = @user.errors.first[1]